#form{
    border: 1px solid rgb(1, 8, 9);
        margin: 0 auto;
        width: 45%;
        padding: 20px;
        border-color: black;
}

#Form{
    border: 1px solid black;
        margin: 0 auto;
        width: 40%;
        color: rgb(1, 20, 24);
        padding: 40px;
}

.input{
    padding: 12px 14px;
    border-radius: 5px;
    color: black;
    border: solid 1px;
    width: 40%;
    }

    button{
        padding: 8px 18px;
        border: none;
        background-color: black;
        color: white;
        border-radius: 5px;
        width: 100px
        }
        
        #table{
        width: 70%;
        padding: 40px;
        border-collapse: collapse;
        padding: 10px;
        border: solid 1px;
        }

        td, th{
            text-align: center;
            border: solid 1px;
            padding: 12px ;
        }

        .center{
            width: 18px;
            height: 18px;
            margin-left: 20%;
            margin-right: 20%;  
        }
